name: test-contracts

on:
  workflow_call:
    inputs:
      run-extra-tests:
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  test-contracts:
    name: Run contract tests
    runs-on: ubicloud-standard-16-ubuntu-2404

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - id: setup-dojo
        uses: runelabsxyz/setup-dojo@main
        with:
          version: "1.8.0"
          scarb-version: "2.13.1"

      - name: Build contract
        working-directory: ./contracts
        run: sozo build

      - name: Test contract
        working-directory: ./contracts
        run: sozo test

      - name: Test contract (including long tests)
        if: inputs.run-extra-tests
        working-directory: ./contracts
        run: sozo test --ignored
